body {
  font-family: "Raleway", "sans-serif";
  background-color: pink;
}

#showcase {
  background: url("../images/main.jpeg") bottom center / cover no-repeat;
  min-height: 750px;
}

#book {
  font-size: 1.5rem;
  border-radius: 2rem;
}

@media (max-width: 768px) {
  #showcase {
    min-height: 500px;
  }
}
